<div class="mb-8" data-test-country-detail>
  <ul class="list-none">
    <li class="my-4">
      <p data-test-country-name>
        <strong>Country Name:</strong>
        {{@country.name}}</p>
    </li>
    <li class="my-4">
      <p data-test-country-capital>
        <strong>Capital:</strong>
        {{@country.capital}}</p>
    </li>
    <li class="my-4">
      <p data-test-country-currency>
        <strong>Currency:</strong>
        {{@country.currency}}</p>
    </li>
    <li class="my-4">
      <p data-test-country-currency-symbol>
        <strong>Currency Symbol:</strong>
        {{@country.currency_symbol}}</p>
    </li>
    <li class="my-4">
      <p data-test-country-phone-code>
        <strong>Phone Code:</strong>
        {{@country.phone_code}}</p>
    </li>
  </ul>
</div>