<tr class="border-b" data-test-state-item>
  <td class="border-x p-4 text-center" data-test-state-sn>
    {{@index}}
  </td>
  <td
    class="border-x p-4 text-center"
    data-test-state-name
  >{{@state.node.name}}</td>
  <td
    class="border-x p-4 text-center"
    data-test-state-state_code
  >{{@state.node.state_code}}</td>
  <td
    class="border-x p-4 text-center"
    data-test-state-lat
  >{{@state.node.latitude}}</td>
  <td
    class="border-x p-4 text-center"
    data-test-state-lon
  >{{@state.node.longitude}}</td>
</tr>